.App {
  background-color: thistle;
}

h1{
  font-size: 2em;
  font-weight: 600;
  text-shadow: 
  0 0 10px rgba(255, 255, 255, 0.9),
  0 0 20px rgba(255, 255, 255, 0.8),
  0 0 30px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(255, 255, 255, 0.6),
  0 0 50px rgba(255, 255, 255, 0.5);
}

.text {
  width: 80vw;
}

.text p{
  font-size: 1.7em;
}

.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  width: 80vw;
  border-collapse: collapse;
}

.table-fav {
  display: table;
  width: 30vw;
  border-collapse: collapse;
}

.table-item {
  display: table-row;
  background-color: #ebebebb2;
}

.table-item > span {
  display: table-cell;
  padding: 8px;
  border: 1px solid #7e7e7e;
}

.table-header {
  display: table-row;
  background-color: #000000;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.table-header > span {
  display: table-cell;
  padding: .7vw;
  border: 1px solid #161616;
}

.table-fav-item{
  display: table-row;
  border: 1px solid black;
  background-color: rgba(185, 222, 255, 0.246);
  text-align: center;
}

.table-fav-item span{
  font-size: 1.2em;
}

img {
  width: 3vw;
}